 /* CSS Reset */
 body {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: url('img/bg.jpg')no-repeat center center/cover;
}

.left {
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 20px;
}

.mid {
    display: block;
    width: 45%;
    margin: 29px auto;
}

.right {
    position: absolute;
    right: 34px;
    top: 33px;
    display: inline-block;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 18px;


}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
    font-size: 1.3rem;
}

.navbar li a:hover,
li a.active {
    text-decoration: underline;
    color: lightcoral;
}

.btn {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(31, 30, 30);
}

.container {
    border: 2px solid white;
    margin: 106px 125px;
    padding: 50px 50px;
    width: 45%;
    border-radius: 100px;
}

.container {
    text-align: center;
}

.container button {
    display: block;
    width: 50%;
    margin: 15px auto;
}

.form-group input {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    display: block;
    width: 40px;
    padding: 2px;
    height: 8vh;
    border: 2px solid black;
    margin: 60px auto;
    font-size: 25px;
    border-radius: 28px;
}

.container h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    color: #000000;
}

.left img {
    width: 125px;
    filter: invert(100%);
    border: 2px solid black;
    border-radius: 10px;
    border: none;
}

.left div {
    line-height: 29px;
    font-size: 18px;
    text-align: center;
}

.mid div {
    text-align: center;
}

input{
    width: 50%;
    height: 6vh;
    margin: 2px;
    border-radius: 13px;
    border: none;
    text-align: center;
    overflow: hidden;
    font-size: 1.1rem;
    outline: none;
}